@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.TableList{
    padding: 5%;
}

.TableData{
    width: 95%;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 2.5%;
    border: solid 0.4px;
    border-width: 0 0 0.4px 0;
}

.DetailsCol{
    border: solid 0.4px;
    padding: 20px;
    border-width: 0 0 0.4px 0;
}