@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');

.loginPortion{
  width: 80vw;
  height: fit-content;
  border-radius: 20px;
  padding: 2.5vw;
  margin-left: 7.5vw;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signupPortion{
  width: 80vw;
  height: fit-content;
  border-radius: 20px;
  padding: 2.5vw;
  margin-left: 7.5vw;
  margin-top: 5vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}